<html>
<head>
    <title>To Do List</title>
</head>
<body>

    <h1>You created a task!</h1>
    <p>{{ newtomagatchi.getName }}</p>
    <p><a href='/'>View your list of things to do.</a></p>
</body>
</html>